{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root": "./src",
          "@pages": "./src/pages",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
