{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@root": "./src",
                    "@images": "./src/assets/images",
                    "@components": "./src/components"
                }
            }
        ]
    ]
}
